In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ptfl = pd.read_csv('output/portfolio_table_2017-10-30 23:10:08.907520.csv')

In [3]:
ptfl.head()

,date,1023761D UN Equity,1023767D UN Equity,1255459D UW Equity,1284849D UN Equity,1288453D UW Equity,1321686D UW Equity,1396924D UW Equity,1396926D UW Equity,1431816D UW Equity,...,ZION UW Equity,ZIOP UR Equity,ZLC UN Equity,ZLTQ UW Equity,ZOES UN Equity,ZOLT UW Equity,ZSPH UQ Equity,ZTS UN Equity,ZU UW Equity,ZUMZ UW Equity
0,2014-01-07,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
1,2014-01-14,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
2,2014-01-21,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
3,2014-01-28,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,0.0
4,2014-02-04,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,0.0

In [4]:
pnl = pd.read_csv('output/pnl_2017-10-30 23:10:08.907520.csv')

In [5]:
pnl.head()

   Unnamed: 0        date       pnl
0           0  2014-01-07 -0.061228
1           1  2014-01-14 -0.073017
2           2  2014-01-21 -0.058418
3           3  2014-01-28 -0.061434
4           4  2014-02-04 -0.020049

In [6]:
np.argmin(pnl['pnl'])

84

In [9]:
p = ptfl.iloc[84,:].copy()

In [10]:
p.dropna(inplace=True)

In [12]:
p[p!=0]

date               2015-08-18
AAPL UW Equity      0.0537258
BTUUQ UN Equity          -0.2
DYAX UQ Equity            0.2
FB UW Equity         0.168088
GILD UW Equity            0.2
LL UN Equity       -0.0639134
PANW UN Equity            0.2
PRTA UW Equity            0.2
QLIK UW Equity            0.2
SPXC UN Equity           -0.2
TMUS UN Equity      0.0781868
TNET UN Equity     -0.0360848
UNH UN Equity        0.199997
Name: 84, dtype: object

In [17]:
sum(p.iloc[1:])

1.0

In [14]:
pnl.iloc[84]

Unnamed: 0            84
date          2015-08-18
pnl            -0.220801
Name: 84, dtype: object