In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

from setup.univ_setup import *
from setup.utils import *
from factor_mining.combine_factors import *
from factor_mining.factor_preprocessing import *
from performance_analysis.pa_core import *

from backtest.BackTest import *
from backtest.regression_portfolio import *

from factor_mining.Mark0 import * # This is alpha file

In [2]:
%%time
### universe setup ###
datadir = '/home/derek-qi/Documents/R3000_Data/data/r3000/'
univ = univ_setup(datadir, version=5, wFund=True)
filt_na(univ)

# import warnings
# warnings.filterwarnings("ignore")

Setup R3000 universe
use existing binary file
CPU times: user 2.74 s, sys: 216 ms, total: 2.95 s
Wall time: 3.22 s

In [3]:
univ_table = stack(univ)

In [11]:
def diff(univ_table, name_ori, lag=1):
    assert name_ori in univ_table.columns, 'Column does not exist %s' % name_ori
    name = 'd%d_' % lag + name_ori
    factor_dict = {}
    datelst = np.unique(univ_table['date'])
    
    def _diff(table):
        table[name] = table[name_ori].diff(lag)
        table.fillna(0, inplace=True)
        return table
    
    univ_table = univ_table.groupby('ticker').apply(_diff)
    
    for t in datelst:
        table = univ_table.loc[univ_table.date == t, ['date', 'ticker', name]].copy()
        table.dropna(inplace = True)
        if type(t) == str:
            t = datetime.strptime(t, '%Y-%m-%d')
        factor_dict[t] = table
    return factor_dict

In [12]:
%%time
d1_gross_profit = diff(univ_table, 'gross_profit_ttm', lag=52)

CPU times: user 15.9 s, sys: 476 ms, total: 16.4 s
Wall time: 16.5 s

In [13]:
stack(d1_gross_profit).head()

            date         ticker  d52_gross_profit_ttm
2587  2010-10-05  JCG UN Equity                   0.0
7771  2010-10-12  JCG UN Equity                   0.0
12955 2010-10-19  JCG UN Equity                   0.0
18139 2010-10-26  JCG UN Equity                   0.0
23323 2010-11-02  JCG UN Equity                   0.0

In [10]:
get_count(univ)

     count       date
0        1 2010-10-05
1        1 2010-10-12
2        1 2010-10-19
3        1 2010-10-26
4        3 2010-11-02
5        4 2010-11-09
6       21 2010-11-16
7      103 2010-11-23
8      111 2010-11-30
9      166 2010-12-07
10     227 2010-12-14
11     280 2010-12-21
12     290 2010-12-28
13     342 2011-01-04
14     393 2011-01-11
15     440 2011-01-18
16     676 2011-01-25
17    1185 2011-02-01
18    1709 2011-02-08
19    2068 2011-02-15
20    2397 2011-02-22
21    2861 2011-03-01
22    3048 2011-03-08
23    3263 2011-03-15
24    3321 2011-03-22
25    3337 2011-03-29
26    3367 2011-04-05
27    3371 2011-04-12
28    3375 2011-04-19
29    3379 2011-04-26
..     ...        ...
336   3404 2017-03-14
337   3399 2017-03-21
338   3399 2017-03-28
339   3396 2017-04-04
340   3399 2017-04-11
341   3388 2017-04-18
342   3384 2017-04-25
343   3386 2017-05-02
344   3385 2017-05-09
345   3384 2017-05-16
346   3386 2017-05-23
347   3382 2017-05-30
348   3377 2017-06-06
349   3377 2017-06-13
350   3381 2017-06-20
351   3382 2017-06-27
352   3381 2017-07-04
353   3375 2017-07-11
354   3378 2017-07-18
355   3380 2017-07-25
356   3380 2017-08-01
357   3379 2017-08-08
358   3381 2017-08-15
359   3376 2017-08-22
360   3372 2017-08-29
361   3366 2017-09-05
362   3386 2017-09-12
363   3382 2017-09-19
364   3378 2017-09-26
365   3388 2017-10-03

[366 rows x 2 columns]